@import "node_modules/ol/ol.css";

html,
body {
	height: 100%;
	margin-left: 2%;
	margin-right: 2%;
}
#map {
	top: 0;
	bottom: 0;
	width: 80%;
	height: 50%;
}
.ol-dragbox {
	background-color: rgba(255, 255, 255, 0.4);
	border-color: rgba(100, 150, 0, 1);
}
#info {
	position: relative;
	display: none;
}
.sidepanel {
	position: relative;
	background: #92c5de;
	width: 20%;
	height: 50%;
	float: right;
}

.sidepanel-title {
	width: 100%;
	font-size: 2em;
	color: #ffffff;
	display: block;
	text-align: center;
	padding-top: 10px;
}

.sidepanel-text {
	width: 100%;
	font-size: 0.8em;
	font-style: italic;
	color: #2f5496;
	display: block;
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#search-input {
	width: 80%;
	/* display: inline-block; */
	margin-top: 10px;
	display: none;
}

#clear-button {
	display: none;
	margin-top: 10px;
	float: right;
	background-color: #2f5496;
	border: none;
}

#tableToCSV {
	display: none;
	margin-top: 10px;
	float: right;
	margin-right: 10px;
	background-color: #2f5496;
	border: none;
}

#lblName {
	float: right;
	display: inline-block;
	width: 20%;
	text-align: right;
	margin-top: 10px;
}

th,
td,
p,
input {
	font: 0.9em Verdana;
}
table,
th,
td {
	border: solid 1px #ddd;
	border-collapse: collapse;
	padding: 2px 2px;
	text-align: center;
	font-size: 0.9em;
	vertical-align: top !important;
}
th {
	font-weight: bold;
}

#info {
	margin-top: 20px;
}

.count {
	position: relative;
}

#btn-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.no-records-found {
	display: none;
	text-align: center;
}

.layer-switcher {
	top: 1em !important;
	max-width: 300px;
}

.more {
	display: inline-block;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.more:hover {
	white-space: initial;
	cursor: pointer;
	width: 100%;
}

.zc-body {
	background: #232020;
}

#myChart {
	padding-top: 10px;
	display: none;
}

#myChart-license-text {
	padding-top: 5px;
}

#select-all-btn {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	bottom: 1.5vh;
	background-color: #2f5496;
	border: none;
}
